<div class="container">

<div class="edu">

    <div class="education">

        <h2 class="titre">Education</h2>

        <div class="engineer">
            <div class="info">
                <div class="time">
                <img class="w-6 h-6 " src="../../assets/images/agenda.svg" alt="">
                <h3 class="font-semibold ">2020-2023</h3>
            </div>

            <div class="lieu">
                <img class="w-6 h-6 " src="../../assets/images/location.svg" alt="">
                <h3 class="font-nunito ">National Higher School  of Engineers of Tunis (ENSIT)</h3>
            </div>
            </div>

            <div class="detail">
                <h2 class="specialite">Computer engineering degree</h2>
            </div>

        </div>


        
        <div class="engineer">
            <div class="info">
                <div class="time">
                <img class="w-6 h-6 " src="../../assets/images/agenda.svg" alt="">
                <h3 class="font-semibold">2018-2020</h3>
            </div>

            <div class="lieu">
                <img class="w-6 h-6 " src="../../assets/images/location.svg" alt="">
                <h3 class="font-nunito ">Preparatory Institute for Engineering Studies of El Manar (IPEIEM)</h3>
            </div>
            </div>

            <div class="detail">
                <h2 class="specialite">Preparatory Cycle Physics Chemistry</h2>
            </div>

        </div>


  
        <div class="engineer">
            <div class="info">
                <div class="time">
                <img class="w-6 h-6 " src="../../assets/images/agenda.svg" alt="">
                <h3 class="font-semibold">2018</h3>
            </div>

            <div class="lieu">
                <img class="w-6 h-6 " src="../../assets/images/location.svg" alt="">
                <h3 class="font-nunito ">High School Mhamdia, Tunisia</h3>
            </div>
            </div>

            <div class="detail">
                <h2 class="specialite">Bachlor of Science</h2>
            </div>

        </div>




        
    </div>
        
        
    <div class="experience">

        <h2 class="titre">Experience</h2>

        <div class="pro">

            <div class="year">
                <h2>August 2022</h2>
            </div>
         
            <div class="academic">
                <h2 class="name">Second Year Internship</h2>
                <p class=" m-2 border-b-2  text-sm ">-Understanding of the code structure and the           relationship between the different modules of the back office.  <br>
                    -UML conception of the complaint management module. <br>
                    -Backend development of complaints management functionalities using .Net. <br>
                    -Development of the frontend section of the back office related to the complaint management module with Angular. <br>
                    <!-- <span>- Partner Complaint</span><br>
                    <span>- Technical Complaint</span> -->
                </p>

                <div class="plus">
               <div class="technologie">
               <img class="icon" src="../../assets/images/angular.svg" alt="">
               <img  class="icon" src="../../assets/images/dotnet.svg" alt="">
               <img  class="icon" src="../../assets/images/swagger.svg" alt="">
               <img  class="icon" src="../../assets/images/mongo.svg" alt="">
               </div>

               <div class="endroit">
               <h2 class=" font-semibold  ">DabyGo Startup</h2>
               </div >

                </div>

            </div>


        </div>



        
        <div class="pro ">

            <div class="year">
                <h2>July 2021</h2>
            </div>

            <div class="academic">
                <h2 class="name">First Year Internship</h2>
                <p class=" m-2 border-b-2  text-sm ">-Understanding of the structure of the project and the different modules of the application that will be developed. <br>
                    -Design of preliminary mock-ups and interfaces that present the needs of the application. <br>
                    -Development of the front-end part of the application using Angular. <br>
                   
                </p>

                <div class="plus">
               <div class="technologie">
               <img class="icon" src="../../assets/images/angular.svg" alt="">
              
              
               
               </div>

               <div class="endroit">
               <h2 class=" font-semibold  ">Tech Academy Training Center</h2>
               </div >

                </div>

            </div>


        </div>





        
    </div>
        
    </div>

</div>

