<div class="main">
    
        <div class="pl-8" class="center">
          <div class="right">
               <h2 class="info">I'm Chaima Amiri</h2>
               <h1 class="info">Software Engineer</h1>
               <div class="b-icon">
                  
                         
                         <a href="https://github.com/AmiriChaima" target=”_blank”  ><img src="../../assets/images/github.svg" class="icon"   alt="github icon"></a>
                   
                    
                         <a href="https://www.linkedin.com/in/chaima-amiri-5a78811b9" target=”_blank” >
                             <img src="../../assets/images/linkedin.svg" class="icon" alt="linkedin icon">
                         </a>
                         
     

               </div>
              
          </div>
      
        </div>
       

    
    <div class="center">
         <img class="image" src="../../assets/images/bg (2).png" alt="chaima">
    </div>
  </div>
