<div class="container">
<h1 class="nom"> <span class="text-pink-700">Skills</span>
    &  <span class="text-blue-700">Services</span>

</h1> 
<!--card container-->

<div class="card-container">

    <div class="card">
        <div class="main">

            <div>
                <img class="img" src="../../assets/images/html5.svg" alt="">
                <h2 class="text" >Html5</h2>
            </div>
        
            <div>
                    <img class="img" src="../../assets/images/css3.svg" alt="">
                    <h2 class="text" >CSS3</h2>
            </div>

            <div>
                <img class="img" src="../../assets/images/tailwindcss.svg" alt="">
                <h2 class="text" >Tailwind</h2>
            </div>

            <div>
                <img class="img" src="../../assets/images/angular.svg" alt="">
                <h2 class="text" >Angular</h2>
            </div>

        </div>
         
    <div class="skills"><h3>Front End</h3></div>
    </div>

    <div class="card">
       
        <div class="main">

            <div>
                <img class="img" src="../../assets/images/js.svg" alt="">
                <h2 class="text" >Javascript</h2>
            </div>
        
            <div>
                    <img class="img" src="../../assets/images/spring.svg" alt="">
                    <h2 class="text" >Spring boot</h2>
            </div>

            <div>
                <img class="img" src="../../assets/images/dotnet.svg" alt="">
                <h2 class="text" >.Net</h2>
            </div>

         
        </div>

        <div class="skills"><h3>Back End</h3></div>
    </div>

    <div class="card">
       
        <div class="main ">

            <div>
                <img class="img" src="../../assets/images/sql.svg" alt="">
                <h2 class="text" >SQL</h2>
            </div>

            <div>
                <img class="img" src="../../assets/images/firebase.svg" alt="">
                <h2 class="text" >Firebase</h2>
            </div>
        
        
            <div>
                    <img class="img" src="../../assets/images/oracle.svg" alt="">
                    <h2 class="text" >Oracle</h2>
            </div>

          

        </div>

        <div class="skills"><h3>Databases</h3></div>
    </div>

    <div class="card">
        <div class="main">

            <div>
                <img class="img" src="../../assets/images/vscode3.svg" alt="">
                <h2 class="text" >Vs Code</h2>
            </div>
        
            <div>
                    <img class="img" src="../../assets/images/eclipseide.svg" alt="">
                    <h2 class="text" >Eclipse IDE</h2>
            </div>

            <div>
                <img class="img" src="../../assets/images/visual-studio.svg" alt="">
                <h2 class="text" >Visual Studio</h2>
            </div>

            <div>
                <img class="img" src="../../assets/images/apachenetbeans.svg" alt="">
                <h2 class="text" >Netbeans</h2>
            </div>

        </div>

        <div class="skills"><h3>IDE</h3></div>
    </div>



    <div class="card">
       
        <div class="main ">

            <div>
                <img class="img" src="../../assets/images/c.svg" alt="">
                <h2 class="text" >C</h2>
            </div>

            <div>
                <img class="img" src="../../assets/images/c-plus-plus.svg" alt="">
                <h2 class="text" >C++</h2>
            </div>

            <div>
                <img class="img" src="../../assets/images/c-sharp.svg" alt="">
                <h2 class="text" >C#</h2>
            </div>
        
        
            <div>
                    <img class="img" src="../../assets/images/java.svg" alt="">
                    <h2 class="text" >Java</h2>
            </div>

           

          

        </div>

        <div class="skills"><h3>More</h3></div>
    </div>


</div>



</div>