

<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-pink-500 hover:bg-purple-600 mb-1 ml-4 mr-4  rounded-md">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
      <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" href="#">
        Chaima
      </a>
      <button class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" (click)="toggleNavbar()">
        <svg class= "w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
        </svg>
        
      </button>
    </div>
    <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:flex-grow items-center">
      <ul class="flex flex-col lg:flex-row list-none ml-auto">
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#" routerLink="about">
            <i class="text-lg leading-lg text-white opacity-75"></i><span class="ml-2">About</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo"  routerLink="skills">
            <i class=" text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Skills</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#" routerLink="education">
            <i class=" text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Education and Experience</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#" routerLink="project">
            <i class=" text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Projects</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#" routerLink="contact">
            <i class=" text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Contact</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>