<div class="main">
   <h2 class="font-alumini  text-blue-700 text-5xl text-center md:text-6xl mt-8">Work Portfolio</h2> 
    <div class="card-container">
   
 <div class="card">
    <!-- <div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md "> -->
   
        <a href="#">
            <h3 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 ">Power BI Multiple Pages <br> <span class=" text-center "> Cryptocurrency</span></h3>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">-data import. <br>
            -Modification and validation of imported data. <br>
            -Creation of dashbords to visualize the analyzed data and formatting. <br>
  <span class=" text-black  ">Tech : Microsoft Power Bi</span>
         </p>
        <a href="https://github.com/AmiriChaima/Power-bi-Project.git"  target="_blank" class="inline-flex items-center text-blue-600 hover:underline">
            Check Project
            <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path></svg>
            <img src="../../assets/images/github.svg"  class=" w-5 h-5 "  alt="github icon">
        </a>
    <!-- </div> -->
 </div>

 <div class="card">
    <!-- <div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md "> -->
   
        <a href="#">
            <h3 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 ">Mobile application for car sales ads  <br></h3>
        </a>
        <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">-Authentification <br> -Adding and viewing car sales ads <br>
        <span class=" text-black  ">Tech : Ionic3-Angular, Firebase</span>
         </p>
        <a href="https://github.com/AmiriChaima/Ionic-Mini-Project.git" target="_blank" class="inline-flex items-center text-blue-600 hover:underline">
            Check Project
            <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path></svg>
            <img src="../../assets/images/github.svg"  class=" w-5 h-5 "  alt="github icon">
        </a>
    <!-- </div> -->
 </div>


 <div class="card">
   
        <a href="#">
            <h3 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 ">Web application for cinema management <br></h3>
        </a>
        <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">-Consult the list of cinemas in each city
            <br>
            -Consult the list of films and projections <br>
            -Book tickets for a film screening in a session  <br>
            <span class=" text-black  ">Tech : Angular, Spring boot, My SQL</span>
        </p>
        <a href="https://github.com/AmiriChaima/Homework-App.git" target="_blank" class="inline-flex items-center text-blue-600 hover:underline">
            Check Project
            <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path></svg>
            <img src="../../assets/images/github.svg"  class=" w-5 h-5 "  alt="github icon">
        </a>
    
 </div>
       







    </div>
    
</div>

